*{
    margin-left: 1rem;
    font-family: sans-serif;
    margin-bottom: 1rem;
    font-size: x-large;
}
body{ 
    background-color: bisque;
}
h2{
    text-align: center;
    align-content: center;
}
button{
    display: block;
    border:0.2px solid transparent  ;
    border-radius: 5px;
    width:90%;
    text-align: left;
    cursor: pointer;
    color:#FFFFFF;
    background: #4CAF50;
}
button:hover{
    background: #66BB6A;
}
div{
    width: 80%;
    margin-bottom: 3rem;
    border:15px solid #d3dad7;
}
.selected{
    background-color:#388E3C;
    border:2px solid darkgreen;
    
}
.body_2{
    background-color: bisque;
}
